*{
    margin: 0;
    padding: 0;
}
.main-container{
    background-image: url("../images/desktop.png");
    background-size: cover;
    background-repeat: no-repeat;

    padding: 3rem;
}
@media screen and (max-width: 800px){
    .main-container{
        padding : 1.2rem
    }
}