.nav-container {
    height: 3.8rem;
    border-radius: 1.2rem;
    background-color: #131320;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2rem solid #20202B;
    border-right: 0.2rem solid #20202B;
    border-left: 0.2rem solid #20202B;
}
.logo{
    margin: 0.5rem 2rem 0.5rem 2rem;
    padding : 0.5rem
}
.links{
    display: flex;
    width: 60vw;
    justify-content: space-around;
    align-items: center;
}
.link{
    text-decoration: none;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 800px){
    .logo{
        width: 80%;
        margin: 0.2rem 1rem 0.2rem 1rem;
        padding : 0.2rem
    }
    .links{
        display: none;
    }
}