*{
    margin: 0;
    padding: 0;
}

.product-container{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.our-product{
    text-decoration: underline;
    font-weight: 400;
}
 
.line-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-line{
    line-height: 6.2rem;
    font-size: 6rem;
    font-weight: 700;
}
.tag-line{
    font-size: 2.2rem;
    font-weight: 400;
}
.desc{
    width: 60%;
    margin-top: 1rem;
}

.black-box-container{
    margin-top: 1rem;
}


@media screen and (max-width: 800px){
    .black-box{
        margin-top: 1rem;
        width: 80%;
    }
    .head-line{
        line-height: 4.2rem;
        font-size: 4rem;
        font-weight: 700;
    }
    .tag-line{
        font-size: 2rem;
        font-weight: 400;
    }
    .desc{
        font-size: 1.2rem;
        width: 85%;
        margin-top: 1rem;
    }
}